<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000454507731-qobhnr9a9l6bcibvanu51lik0l8kto2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000454507731-qobhnr9a9l6bcibvanu51lik0l8kto2b</string>
	<key>API_KEY</key>
	<string>AIzaSyAw7QuqnHOWnU3lmaJvT0ukvpo6fySs1Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>1000454507731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jennifersong.alzhelper</string>
	<key>PROJECT_ID</key>
	<string>helpingalz</string>
	<key>STORAGE_BUCKET</key>
	<string>helpingalz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000454507731:ios:8da7bbdb65d65a77f11826</string>
	<key>DATABASE_URL</key>
	<string>https://helpingalz.firebaseio.com</string>
</dict>
</plist>
